<div class="col-md-3">
	<div class="thumbnail">
		<%= link_to space_path(space.name) do%>
		<div class="caption">
			<h4><%= space.name %></h4>
			<p> on spaces this will be reservations thing </p>
		</div>
		<% end %>
	</div>
</div>