<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<p>picture of the space!</p>
			</div>
			<div class="col-md-3">
				<h2>name of the space</h2>
			</div>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3>about space</h3>
				<p>all space specs go here</p>
			</div>
		</div>
	</div>

