<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= gravatar_tag @user.email, size:200 %>
			</div>
			<div class="col-md-3">
				<h2><%= @user.username %></h2>
			</div>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3>about me</h3>
				<p>stuff about whoever la de da</p>
				<p>ALSO WE NEED TO INSERT USER-SPECIFIC SPACE INDEX HERE</p>
			</div>
		</div>
	</div>

<div>
	<%= render 'comments/form' %>
</div>